.about {
  background-image: linear-gradient(
    var(--dark) 0%,
    var(--dark) 50%,
    var(--light) 50%,
    var(--light) 100%
  );
  padding: 92px 0;
}
.about__bg {
  position: relative;
  display: flex;
  min-height: 56vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(../img/red_fon_about.svg),
    linear-gradient(
      var(--dark) 0%,
      var(--dark) 50%,
      var(--light) 50%,
      var(--light) 100%
    );
}
.about__bg::before,
.about__bg::after {
  content: "";
  position: absolute;
  background: url(../img/tire.svg) center/contain no-repeat;
  pointer-events: none; /*  недоступен для клика */
  height: 25vw;
  left: 0;
  right: 0;
}
.about__bg::before {
  top: 0;
  transform: translateY(-25%);
}
.about__bg::after {
  bottom: 0;
  transform: translateY(25%);
}
.about__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.about__title {
  padding: 14px 60px 14px;
  min-width: min-content;
  text-align: right;
  justify-self: end;

  color: var(--white);
  text-align: right;
  font-size: 80px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  border-right: 2px solid var(--white);
}
.about__text {
  max-width: 510px;
  padding: 14px 0 14px 60px;
  justify-self: start;
  color: var(--white);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4;
}
/* .about__title-text {} */
.about__title-text_black {
  color: var(--dark);
}

@media (max-width: 1080px) {
  .about {
    padding: 80px 0;
  }
  .about__title {
    font-size: 60px;
    padding: 8px 40px 8px 0;
  }
  .about__text {
    padding: 8px 0 8px 40px;
    font-size: 20px;
    max-width: 406px;
  }
}

@media (max-width: 900px) {
  .about {
    padding: 90px 0 55px;
  }
  .about__title {
    font-size: 48px;
    padding: 7px 24px 7px 0;
  }
  .about__text {
    padding: 7px 0 7px 24px;
    font-size: 16px;
    max-width: 316px;
  }
}

@media (max-width: 660px) {
  .about {
    padding: 50px 0 25px;
  }
  .about__bg {
    background-size: auto 100%;
    padding: 62px 0 68px;
  }
  .about__container {
    grid-template-columns: 1fr;
    align-content: center;
    padding: 32px var(--container-padding) 32px;
    max-width: 420px;
  }
  .about__title {
    max-width: none;
    justify-self: stretch;
    text-align: left;
    font-size: 32px;
    font-weight: 900;
    line-height: 1.2;
    padding: 0 0 12px;
    border-right: 0;
    border-bottom: 2px solid var(--white);
  }
  .about__text {
    padding: 12px 0 0;
    max-width: none;
  }
}

@media (max-width: 480px) {
  .about {
    padding: 0 0 25px;
  }
  .about__bg::before {
    transform: translateY(-15%);
  }
  .about__bg::after {
    transform: translateY(15%);
  }
}
