.contact {
  padding: 104px 0 120px;
}
.contact__title {
  color: var(--dark);
  text-align: center;
  font-size: 80px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 0 auto 40px;
  max-width: 1050px;
}
.contact__title-text_red {
  color: var(--red);
}
.form {
  background-color: var(--white);
  padding: 60px;
  border-radius: 32px;
}
.form__fieldset {
  display: none;
  margin-bottom: 32px;
}
.form__fieldset_active {
  display: block;
}
.form__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.form__radio-wrapper {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  margin-bottom: 32px;
}
.form__radio-wrapper:last-child {
  margin-bottom: 0;
}
.radio__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; /* делает элемент невидимым */
}
.radio__label {
  display: block;
  padding: 12px 20px;
  border-radius: 50px;
  border: 1px solid transparent;
  background-color: var(--light);
  font-weight: 500;
  line-height: 1.4;
  cursor: pointer;
}
.radio__label:hover {
  background-color: var(--hover);
}
.radio__input:focus-visible + .radio__label {
  border-color: var(--red);
}
.radio__input:checked + .radio__label {
  background-color: var(--dark);
  color: var(--white);
}
.form__subtitle,
.form__months {
  margin-bottom: 16px;
  display: flex;
  gap: 16px;
  font-weight: 500;
  line-height: 1.4;
}
.form__btn-month_active {
  color: var(--red);
  transform: scale(1.15);
}

.form__time {
  display: none;
}

.form__input-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px 8px;
  margin-bottom: 32px;
}
.form__input {
  color: inherit;
  padding: 12px 20px;
  border-radius: 8px;
  background-color: var(--light);
  border: 1px solid transparent;
}
.form__input:hover {
  background-color: var(--light);
}
.form__input:focus-visible {
  background-color: var(--light);
  border: 1px solid var(--gray);
}
.form__info {
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 4px;
}

.form__btn-wrapper {
  display: flex;
  gap: 8px;
}
.form__btn {
  display: flex;
  gap: 8px;
  padding: 12px 20px;
  align-items: center;
  color: var(--dark);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  border-radius: 50px;
  background-color: var(--light);
}

.form__btn_next {
  background-color: var(--red);
  color: var(--white);
}

.form__btn_submit {
  background-color: var(--red);
  color: var(--white);
}
.form__btn:disabled {
  color: var(--dark);
  background-color: var(--light);
  opacity: 0.4;
  pointer-events: none;
}

@media (max-width: 1080px) {
  .contact {
    padding-top: 60px;
  }
  .contact__title {
    font-size: 60px;
    max-width: 790px;
  }
  .form {
    padding: 40px;
  }
  .form__title {
    font-size: 24px;
  }
}

@media (max-width: 900px) {
  .contact {
    padding: 50px 0 100px;
  }
  .contact__title {
    font-size: 48px;
    max-width: 630px;
  }
  
}

@media (max-width: 660px) {
  .contact {
    padding: 50px 0 80px;
  }
  .contact__title {
    font-size: 32px;
    max-width: 420px;
  }
  .form {
    padding: 24px 16px;
    border-radius: 16px;
  }
  .form__input-wrapper {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .contact__title {
    max-width: 320px;
  }
  
}
