.hero {
  padding: 98px 0 50px;
  background: var(--dark) url(../img/wheel.png) center/contain no-repeat;
}
.hero__title {
  display: flex;
  flex-direction: column;
  color: var(--white);
  font-size: 160px;
  font-weight: 900;
  line-height: 1.5;
}
.hero__title-up {
  align-self: start;
}
.hero__title-down {
  align-self: end;
  margin-top: -70px;
}
.hero__intro {
  display: flex;
  justify-content: space-between;
  border-top: -13px;
}
.hero__year {
  align-self: end;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}
.hero__tagline {
  width: min-content;
  color: var(--red);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  padding-bottom: 4px;
}

@media (max-width: 1080px) {
  .hero {
    padding: 63px 0 32px;
  }
  .hero__title {
    font-size: 120px;
  }
  .hero__title-down {
    margin-top: -63px;
  }
  .hero__intro {
    border-top: -20px;
  }
  .hero__tagline {
    padding-bottom: 0px;
    font-size: 20px;
  }
}

@media (max-width: 900px) {
  .hero {
    padding: 58px 0 6px;
  }
  .hero__title {
    font-size: 90px;
  }
  .hero__title-down {
    margin-top: -32px;
  }
  .hero__intro {
    border-top: -4px;
  }
}

@media (max-width: 660px) {
  .hero {
    padding: 45px 0 25px;
  }
  .hero__title {
    font-size: 68px;
  }
  .hero__title-down {
    margin-top: -20px;
    margin-bottom: 32px;
  }
  .hero__intro {
    border-top: 0;
  }
  .hero__year {
    align-self: start;
  }
  .hero__tagline {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .hero {
    background-size: 208px;
  }
  .hero__title {
    font-size: 44px;
  }
}