.hero {
  padding: 98px 0 50px;
  background: var(--dark) url(../img/wheel.png) center/contain no-repeat;
}
.hero__title {
  display: flex;
  flex-direction: column;
  color: var(--white);
  font-size: 160px;
  font-weight: 900;
  line-height: 1.5;
}
.hero__title-up {
  align-self: start;
}
.hero__title-down {
  align-self: end;
  margin-top: -70px;
}
.hero__intro {
  display: flex;
  justify-content: space-between;
}
.hero__year {
  align-self: end;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}
.hero__tagline {
  width: min-content;
  color: var(--red);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
}
